<?xml version="1.0" encoding="UTF-8"?>
<plugin id="azure-upload" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>AzureUpload</name>
  <description>A Cordova plugin for uploading files to Azure Blob Storage with chunked uploads and thumbnail generation.</description>
  <license>Apache 2.0</license>
  <keywords>cordova, azure, upload, file, blob</keywords>

  <js-module src="www/AzureUpload.js" name="AzureUpload">
    <clobbers target="AzureUpload" />
  </js-module>
  
  <platform name="android">
    <source-file src="src/android/AzureUpload.java" target-dir="src/com/azure/upload" />
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="src/ios/AzureUpload.swift" />
  </platform>
</plugin>
